/* You can add global styles to this file, and also import other style files */
/* @import "~@fortawesome/fontawesome-free/css/all.css"; */



.txt-color-1{
    color: #ffffff;
}

.txt-color-2{
    color: #000000;
}

.txt-color-3{
    color: #333333;
}

.bg-color-3{
    background-color: #333333;
}

.txt-color-4{
    color: #ccc;
}

.txt-color-5{
    color: #a52a2a;
}

a.link{
    text-decoration: none;
}
.link.loja:hover{
    color: #a52a2a;
}

/* CUSTOM BOOTSTRAP */
.navbar-light .navbar-brand {
    color: #fff;
}