<div class="container-product-list" *ngIf="(cart$ | async).products.length > 0">
    <h4>Produtos no carrinho</h4>
    <ng-container *ngFor="let product of (cart$ | async).products">
        <div class="row pt-4 pb-4 border-bottom" >
            <div class="col-2 d-flex align-items-center" >
                <div class="img-cart" style="background:url({{product.image}});
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;">
                </div>
            </div>
            <div class="col-8 mb-10">
                <div class="title-cart">{{product.title}}</div>
                <div class="subtitle-cart"><strong>Valor: </strong>{{product.price | currency:'BRL': true}}</div>
            </div>
            <div class="col-2 d-flex align-items-center txt-color-5">
                <div class="delete-item-cart" (click)="remove(product)">
                    <i class="fas fa-trash"></i>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="row ">
        <div class="col-12 mt-2 mb-2">
            <div><strong>Total:&nbsp;{{(cart$ | async).total | currency:'BRL': true}}</strong></div>
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-primary btn-block mt-2 mb-2" (click)="reset()">Remover todos produtos&nbsp;<i class="fas fa-shopping-cart"></i></button>
        </div>
        
    </div>
</div>
